%html
  %title Bottled Goodess - Programming uncorked
  <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/print.css" type="text/css" media="print">  
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen, projection, print">  
  <link type="text/css" rel="stylesheet" href="/sh/sh_vim-dark.min.css">
  <script type="text/javascript" src="/sh/sh_main.min.js"></script>
  <script type="text/javascript" src="/sh/sh_ruby.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/jqcloud.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="/jqcloud.js"></script>
  <!--[if lt IE 8]><link rel="stylesheet" href="/ie.css" type="text/css" media="screen, projection"><![endif]-->
  :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22006053-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      var word_list = #{@thash.to_s.gsub(/=>/, ':')}
      $(document).ready(function() {
        // Call jQCloud on a jQuery object passing the word list as argument. Chainability of methods is maintained.
        $("#cloud").jQCloud(word_list);
      });
  %body{:onload=>'sh_highlightDocument();'}
    .container
      %div#banner{:class => 'span-18'}
        %img{:src => '/bg.jpg'}  
      %div#login{:class => 'span-6 last'}
        - if @logged_in then
          %ul.login
            %li.border Welcome #{@logged_in.name}
            %li
              %a{:href => '/logout'} Logout
        - else
          %ul.login
            %li.border Welcome Guest
            %li
              %a{:href => '/auth/facebook'} Login
      %div#content{:class=>'span-17 prepend-1 border'}
        %div#menu{:class => 'span-6 prepend-10 last'}
          %ul.nav
            %li{:class=>"#{@home}"}
              %a{:href => '/'} Home
            %li{:class=>"#{@links}"}
              %a{:href => '/links'} Links
            %li{:class=>"#{@archives}"}
              %a{:href => '/archives'} Archives
        =yield
      %div#rightbar{:class => 'span-6 last quiet'}
        %h3 About
        %p.about
          Authored by Leonard Garvey a jack-of-all-trades programmer, web developer, dba and analyst with something to share. I love snowboarding and riding my GSXR-750.
        %h3 Tag Cloud
        %div#cloud{:style=> 'height: 230px;',:class => 'span-6 last'}

    %div#bottom
      .container
        %div{:class => 'span-6 append-12'}
          %ul.bottommenu
            %li
              %a{:href=>'/'} Home
            %li
              %a{:href=>'/'} About  
            %li
              %a{:href=>'/'} Archives 
            - if @logged_in and @logged_in.role == "admin" then
              %li
                %a{:href=>'/article/add'} Add an Article
        %div{:class => 'span-6 last'}
          %ul.bottommenu
            %li
              %a.hide{:href=>''} Follow on Twitter
            %li
              %a{:href=>'http://www.sinatrarb.com'} Powered by Sinatra
            %li
              %a{:href=>'http://wwww.mongodb.org'} MongoDB
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'bottledup'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
